@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700|Nunito);

.alert{
	padding-top : 2px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;

}
				
.top_logos {
	position: absolute;
	top: 0.1em;
	margin: 0;
	padding: 0;
}

#ieeeedtu {
	left: 2%;
}

#dtu {
	right: 2%;
}

#troika {
	position: absolute;
	left: 50%;
}
#troikaSmall {
	left: calc(50% - 40px);
}
.center
{
	display:table;
	margin:0 auto;
	text-align: center;

}

body {
	padding:5px;
	margin-top : 75px;
	margin-left: 4px;
	margin-right: 4px;
	/*font-family: 'Raleway';*/
	font-size: 1.4em;
}

header {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Open Sans';
	font-weight: bold;
	z-index: 100;
	color: #1ab188;
}
.subhead
{
	font-size: 1.9em;
	font-family: 'Open Sans';
	
}

#submit {
	width: auto;
    min-width : 150px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	font-family: 'open sans';
	background: #1ab188;
	color: #ffffff;
	border: 1px solid #33842a;
	border-radius: 10px;
	cursor: pointer;
}

#submit:hover {
	background: #179b77;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
	font-size: 1.3em;
	padding: 1px 6px;
	
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
	outline: 0;
	border-color: #1ab188;
}

select {
	padding: 1px;
	margin: 0;
	border-radius: 4px;
	box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
	background: #f8f8f8;
	color: #888;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.error
{
	color: red;
	font-size: 1.2em;
	font-family: 'open sans';
}

.teamcheck
{
	color: red;
	font-size: 1.3em;
	font-family: 'open sans';
}

.styled-select {
   
	min-width:20px;
   border: 1px solid #ccc;
}

/****** To switch off the scrolling effect of number input box *******/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
-moz-appearance: textfield;
}